.cardContainer{
    width: 30%;
    margin: 20px auto;
}

.imge{
    width: 100%;
    border-radius: 8px;
}

.card{
    width: 100%;
    text-align: center;
}

.itemName{
    margin: 10px;
}